html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

.header-menu {
    display: flex;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 216, 228);
}

ul {
    padding: 0;
    display: flex;
    column-gap: 16px;
    list-style-type: none;
}

main {
    display: flex;
}

section {
    flex-basis: 80%;
    padding: 20px;
}

aside {
    flex-basis: 20%;
    padding: 20px;
    border-left: 1px solid rgb(0, 0, 0);
}

footer {
    padding: 20px;
    background-color: rgb(239, 233, 241);
}
